*, *:hover, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #141414;
  font-family: 'Courier New', Courier, monospace;
  background-image: url(../images/bridge.jpg);
  background-size: cover;
  background-position: center; }

.box {
  width: 60vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.7); }
  @media (max-width: 1200px) {
    .box {
      width: 80vw; } }
  @media (max-width: 900px) {
    .box {
      width: 100vw; } }
